In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_squared_error, root_mean_squared_error, max_error, mean_absolute_error
from sklearn.model_selection import train_test_split, ShuffleSplit, KFold, LeaveOneOut, StratifiedKFold, cross_val_score, learning_curve, cross_val_predict
from sklearn.feature_selection import SelectKBest, f_classif
from imblearn.under_sampling import RandomUnderSampler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.optimizers import Adam
import random
import glob
import os


import warnings
warnings.filterwarnings('ignore')

In [51]:
engine_inputs = pd.read_csv("./engine/engineInputs.csv", header=None)
engine_inputs = engine_inputs.transpose()
engine_inputs.rename(columns={0:'X1', 1:'X2'}, inplace=True)
engine_inputs.head()

     X1     X2
0  17.5  576.2
1  35.9  598.6
2  31.4  612.1
3  23.7  624.2
4  20.2  635.2

In [53]:
engine_targets = pd.read_csv("./engine/engineTargets.csv", header=None)
engine_targets = engine_targets.transpose()
engine_targets.rename(columns={0:'y1', 1:'y2'}, inplace=True)
engine_targets.head()

     y1     y2
0  57.6  848.0
1  24.8  905.0
2  22.3  578.0
3  15.6  382.0
4  16.5  298.0

In [55]:
engine = pd.concat([engine_inputs, engine_targets], axis=1)
engine.head()

     X1     X2    y1     y2
0  17.5  576.2  57.6  848.0
1  35.9  598.6  24.8  905.0
2  31.4  612.1  22.3  578.0
3  23.7  624.2  15.6  382.0
4  20.2  635.2  16.5  298.0

In [61]:
from mpl_toolkits.mplot3d import Axes3D

# Example dataset
x1 = engine['X1']
x2 = engine['X2']
X1, X2 = np.meshgrid(x1, x2)

# Two output functions, z1 and z2
y1 = engine['y1']
y2 = engine['y2']

# Plotting the first output (Z1)
fig = plt.figure(figsize=(12, 6))

ax1 = fig.add_subplot(121, projection='3d')
ax1.plot_surface(X1, X2, y1, cmap='viridis')
ax1.set_title('Output 1')
ax1.set_xlabel('Input X1')
ax1.set_ylabel('Input X2')
ax1.set_zlabel('Output y1')

# Plotting the second output (Z2)
ax2 = fig.add_subplot(122, projection='3d')
ax2.plot_surface(X1, X2, y2, cmap='plasma')
ax2.set_title('Output 2')
ax2.set_xlabel('Input X1')
ax2.set_ylabel('Input X2')
ax2.set_zlabel('Output y2')

plt.show()

ValueError: cannot reshape array of size 1199 into shape (1199,1199)